---
layout: default
title: Home
---
<!-- <div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{site.baseurl}}{{post.url}}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}&nbsp;&nbsp;</span>
    {{ post.description }}

  </div>
  {% endfor %}
</div> -->

<div class="posts">
  {% for post in site.posts %}
  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
    <tr> <h3> <a href="{{site.baseurl}}{{post.url}}"> {{post.title}} </a> </h3> </tr>
    {% if post.featured-image %}
  	  <tr>
      <td width="25%">
        <img src="{{post.featured-image}}" >
      </td>
      <td valign="top" width="75%">
        <br>
        <span class="post-date">{{ post.date | date_to_string }}&nbsp;&nbsp;</span>
        {{ post.description }}
       </td>
     </tr>
    {% else %}
      <tr>
        <td valign="top" width="100%">
          <br>
          <span class="post-date">{{ post.date | date_to_string }}&nbsp;&nbsp;</span>
          {{ post.description }}
        </td>
      </tr>
    {% endif %}
  </table>

{% endfor %}
</div>


<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{site.baseurl}}{{post.url}}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}&nbsp;&nbsp;</span>
    {{ post.description }}&nbsp;&nbsp;<a href="{{ post.url }}">Read More</a>

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
